body{
    margin:0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    font-size: 2em;
    font-weight: 700;
    color: hsl(127, 100%, 28%);
    padding: 5vw;

}

.score-bar{
    max-width: 600px;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.score-bar >*{
    padding-inline: 1em;
}

.game-board{
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(20, 20px);
    grid-template-rows: repeat(20, 20px);
    padding: 5px;
    background-color: hsl(127, 50%, 10%, 0.75);
  
}
.border-o{
    width:max-content;
    height:max-content;
    border: #595f43 solid 10px;
    border-radius: 20px;
    box-shadow: inset 0 0 0 10px #595f43;
}
.border-t{
    width: max-content;
    height: max-content;
    border: #abb78a solid 8px;
    border-radius:15px;
    box-shadow: inset 0 0 0 10px #abb78a;
}
.border-th{
    width:max-content;
    height:max-content;
    border: #8b966c solid 30px;
    border-radius: 10px;
    box-shadow: inset 0 0 0 5px #8b966c;
}  
.snake {
    border: hsl(0, 0%, 84%) 1px dotted;
    background-color: hsl(0, 0%, 16%);
    
}

.food {
    background-color: hsl(0, 0%, 100%);
    border: hsl(0, 0%, 75%) 5px solid;
    
}
.reset-game{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
    transform: translateY(1em);
}
.reset-game img{

    object-fit: cover;
    transform: scale(1.25) ;
}
.reset-game p{
   transform: scale(0.75) translateY(-0.75em) ;
}

